<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/en/common :: enHeadSource">
</head>

<body>

    <div class="preloader" th:replace="fragments/en/common :: enPreloader">
    </div>
    <header id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="header-area">
                    <div class="logo-area">
                        <a href="/en/index">
                            <img src="/front/en/assets/img/logo.png" alt="Nav Logo">
                        </a>
                    </div>
                    <nav class="navbar navbar-area navbar-expand-lg sticky-navbar">
                        <div class="container nav-container">
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#fortis_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="cross-menu">
                                    <span class="bar1"></span>
                                    <span class="bar2"></span>
                                    <span class="bar3"></span>
                                </span>
                            </button>
                            <div class="collapse navbar-collapse" id="fortis_main_menu">
                                <ul class="navbar-nav">
                                    <li>
                                        <a class="move-page" href="/en/index">Home</a>
                                    </li>
									 <li>
                                        <a class="move-page" href="/en/choice">The Moment You Choose Su Yonsei!</a>
                                    </li>
                                    <li>
                                        <a class="move-page" href="/en/equipments">Equipments
                                            Center</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a class="center" href="javascript:void(0)">Surgery Center
                                            <ul class="sub-menu">
                                                <li><a class="move-page" href="/en/smile"># SMILE LASIK</a></li>
                                                <li><a class="move-page" href="/en/smilePro"># SMILE PRO</a></li>
                                                <li><a class="move-page" href="/en/keratoconus"># Keratoconus</a></li>
                                                <li><a class="move-page" href="/en/lens"># Lens Implantation
                                                        Surgery</a></li>
                                                <li><a class="move-page" href="/en/lasek"># LASEK</a></li>
                                                <li><a class="move-page" href="/en/lasik"># LASIK</a></li>
                                            </ul>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>


    <main>
        <section class="breadcrumb-area padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="breadcrumb-content">
                        <div class="col-12 px-0">
                            <div class="page-title">
                                <h1 class="heading-1">SU Yonsei's Vision Correction Surgery Center </h1>
                                <h6 class="heading-6">Keratoconus, also known as keratectasia, refers to a progressive
                                    condition where a portion of the cornea fails to maintain its original gentle,
                                    rounded shape and instead protrudes outward.</h6>
                            </div>
                        </div>
                        <ul class="page-list">
                            <li><a href="/en/index">Home</a></li>
                            <li>Surgery Center</li>
                            <li>Keratoconus</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="dental-section mt-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 pl-0">
                        <div class="dental-img-area">
                            <div class="dental-img">
                                <img src="/front/en/assets/img/surgery/a.png" alt="img">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 d-flex align-items-center">
                        <div class="dental-content-area">
                            <div class="common-title padding-bottom-30">
                                <h2 class="heading line-left">Keratoconus Research at SU Yonsei Eye Clinic</h2>
                            </div>
                            <div class="padding-top-20 padding-bottom-40">
                                <p><strong>Keratoconus, also known as keratectasia, refers to a progressive condition
                                        where a portion of the cornea fails to maintain its original gentle, rounded
                                        shape and instead protrudes outward.</strong>
                                    Our clinic ranked hightest in the number of keratoconus/keratectesia treatments
                                    among all the ophthalmology clinics in the nation, even surpassing university
                                    hospitals. Compared to other medical facilities, we possess surgical experience that
                                    ranges from several times to several hundred times more, coupled with ongoing
                                    research into new treatment methodologies. We have also monitored the progress of
                                    thousands of keratoconus/keratectasia patients and have published our findings in
                                    academic circles.</p>

                            </div>
                            <div class="check-box-area">
                                <ul class="check-box">
                                    <li>∙ South Korea's Leading Corneal Cross-Linking Procedures</li>
                                    <li>∙ Keratoconus Genetic Studies (in collaboration with Jules Stein Eye Institute &
                                        Avellino Lab)
                                    </li>
                                    <li>∙ Ongoing Lectures and Presentations (including at ESCRS, AAO, the Korean
                                        Ophthalmological Society, and Contact Lens Research Association)</li>
                                    <li>∙ Comprehensive Treatment from Accurate Diagnosis to Vision Restoration for
                                        Keratoconus</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="dental-section mt-5">
            <div class="container-fluid">
                <div class="row" style="justify-content: flex-end;">
                    <div class="col-lg-4 col-md-12 d-flex align-items-center">
                        <div class="dental-content-area">
                            <div class="common-title padding-bottom-30">
                                <h2 class="heading line-left">Pioneering and Unparalleled Treatment Experience in South
                                    Korea</h2>
                            </div>
                            <div class="padding-top-20 padding-bottom-40">
                                <p>Our expertise has been internationally acknowledged. In 2009, we were the first in
                                    both Korea and Asia to be awarded 'The Lord of Keraring.' By 2011, we again achieved
                                    a first in Korea and Asia by receiving the 'Master of Intacs' award. In 2016, we
                                    were globally recognized for having the highest number of ring implantation cases.
                                    These accolades further corroborate the world-class specialization of our clinic.
                                </p>
                            </div>
                            <div class="padding-top-20 padding-bottom-40">
                                <p>As of 2023, we have over 3,500 surgical cases of keratoconus under our belt, covering
                                    ring implantation, collagen cross-linking, and corneal topography ablation
                                    procedures. Particularly noteworthy is our global first in combined treatment
                                    approaches involving corneal topography guided ablation and collagen cross-linking.
                                    We have published comparative studies on all types of rings, two different
                                    femtosecond lasers, and the corneal wave of Amaris and T-CAT of EX500 laser
                                    platforms.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 pr-0">
                        <div class="dental-img-area right">
                            <div class="dental-img">
                                <img src="/front/en/assets/img/surgery/b.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="blog-page-content padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="blog-post-single-item">
                            <div class="col-12">
                                <div class="common-title padding-bottom-20">
                                    <h2 class="heading line-left m-auto" style="font-size:20px;">Treatment involving
                                        Intacs + AMARIS RED Sirius Corneal Topography Ablation + CXL (Collagen
                                        Cross-Linking)
                                    </h2>
                                </div>
                            </div>
                            <div class="thumb mt-5">
                                <img src="/front/en/assets/img/eng/won01.png" style="box-shadow:0px 5px 5px rgba(0,0,0,0.2);">
                            </div>

                        </div>
                        <!--// Blog Single Item-->

                        <div class="blog-post-single-item mt-5">
                            <div class="col-12">
                                <div class="common-title padding-bottom-20">
                                    <h2 class="heading line-left m-auto" style="font-size:20px;">Intacs + EX500 T-CAT +
                                        CXL (Collagen Cross-Linking)</h2>
                                </div>
                            </div>
                            <div class="thumb mt-5">
                                <img src="/front/en/assets/img/eng/won02.png" style="box-shadow:0px 5px 5px rgba(0,0,0,0.2);">
                            </div>

                        </div>
                        <div class="blog-post-single-item mt-5">
                            <div class="col-12">
                                <div class="common-title padding-bottom-20">
                                    <h2 class="heading line-left m-auto" style="font-size:20px;">Intacs + EX500 T-CAT +
                                        CXL (Collagen Cross-Linking)</h2>
                                </div>
                            </div>
                            <div class="thumb mt-5">
                                <img src="/front/en/assets/img/eng/won03.png" style="box-shadow:0px 5px 5px rgba(0,0,0,0.2);">
                            </div>

                        </div>
                        <div class="blog-post-single-item mt-5">
                            <div class="col-12">
                                <div class="common-title padding-bottom-20">
                                    <h1 class="heading line-left m-auto" style="font-size:20px;">Keraring + AMARIS RED
                                        Sirius Corneal Topography Ablation + CXL (Collagen Cross-Linking)
                                    </h1>
                                </div>
                            </div>
                            <div class="thumb mt-5">
                                <img src="/front/en/assets/img/eng/won04.png" style="box-shadow:0px 5px 5px rgba(0,0,0,0.2);">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--Main Area End Here-->

    <th:block th:replace="fragments/en/common :: enFooter"></th:block>
</body>

</html>